* {
    margin: 0;
    padding: 0;
    font-family: poppins;
}

body {
    background: #082258;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 250px;
    background: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.input-group input {
    width: 90%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.input-group span {
    color: red;
    font-size: 12px;
}

button {
    width: 50%;
    padding: 10px;
    background: #59b4f0;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 50px;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    display: none;
}

.popup img {
    width: 50px;
    margin-bottom: 10px;
}

.popup button {
    background: #007bff;
    padding: 10px 20px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.popup button:hover {
    background: #0056b3;
}